.container {
    width: 960px;
    max-width: 960px;
    padding: 20px;
    display: flex;
    margin: auto;
}

.left-column,
.right-column {
    width: 50%;
}

.right-column {
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.horizontal-container {
    position: relative;
    max-width: 920px;
    text-align: center;
    margin: auto;
}

h2 {
    color: #222;
    margin: 0 0 30px;
    font-size: 36px;
    font-weight: 700;
}

.form {
    padding: 30px 0px;
}

.form-control label {
    margin-bottom: 5px;
    display: block;
    color: #333;
}

.form-control input {
    width: 100%;
    padding: 10px;
    display: block;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}

.form-control {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 25px;
}

.form-control.success {
    border-color: white;
}

.form-control.error {
    border-color: white;
}

.form-control input:focus {
    border-color: #777;
    outline: none;
}

.form-control.error input {
    border-color: var(--input-error-color);
}

.form-control.success:after {
    opacity: 0;
    transform: translateY(-50%);
}

.form-control small {
    bottom: 1;
    left: 2;
    color: var(--input-error-color);
    position: absolute;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.submit-button {
    margin: 80px auto;
    background: #111212;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    transition: all ease .20s;
}

.submit-button:hover {
    background: #292626;
}

@media screen and (min-width: 960px) {
    .form {
        bottom: 0;
        padding-bottom: 0px;
    }

    .right-column {
        margin-left: 200px;
        padding-top: 40px;
    }
}

@media screen and (max-width: 960px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .left-column,
    .right-column {
        width: auto;
    }

    .form {
        bottom: 0;
        padding-bottom: 0px;
    }

    .horizontal-container {
        margin: auto;
        width: 95%;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    h2 {
        font-size: 25px;
    }

    .form-control input {
        font-size: 12px;
        padding: 5px;
    }

    button {
        padding: 10px 25px;
        font-size: 14px;
    }

    .form {
        padding: 30px 20px 280px;
    }

    .form-control {
        margin-bottom: 5px;
        padding-bottom: 15px;
    }

    .horizontal-container {
        margin: auto;
        width: 93%;
    }
}