@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --input-success-color: #00ff6a;
  --input-error-color: #fa1f07;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}